<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js" integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div id="chat">
        <ul id="messages"></ul>
        <input id="message_input" autocomplete="off" /><button id="send_button">Send</button>
        <button id="clear_button">Clear Chat</button>
    </div>

    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        // Receive messages from the server
        socket.on('message', function(data) {
            $('#messages').append($('<li>').text(data));
        });

        // Receive existing messages from the server
        socket.on('messages', function(data) {
            for (var i = 0; i < data.length; i++) {
                $('#messages').append($('<li>').text(data[i]));
            }
        });

        // Clear chat messages
        socket.on('clear', function(msg) {
            $('#messages').empty();
            $('#messages').append($('<li>').text(msg));
        });

        // Send a message to the server when the send button is clicked
        $('#send_button').click(function() {
            var message = $('#message_input').val();
            socket.send(message);
            $('#message_input').val('');
        });

        // Send a message to the server when the Enter key is pressed
        $('#message_input').keypress(function(event) {
            if (event.which == 13) {
                $('#send_button').click();
            }
        });

        // Handle clearing chat messages
        $('#clear_button').click(function() {
            socket.emit('clear');
            // console.log("ciao");
        });
    </script>
</body>
</html>
